[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "wiringOP"]
	path = wiringOP
	url = https://github.com/orangepi-xunlong/wiringOP.git
[submodule "libgpiod"]
	path = libgpiod
	url = https://github.com/brgl/libgpiod.git
[submodule "sh2"]
	path = sh2
	url = https://github.com/ceva-dsp/sh2.git
